parameters:
    phpVersion:
        min: 80200
        max: 80499
    level: 5
    treatPhpDocTypesAsCertain: false
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    editorUrlTitle: '%%relFile%%:%%line%%'
    paths:
        - Classes/
    excludePaths:
        - Tests/

    bootstrapFiles:
        - Build/phpstan/phpstan-constants.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#Return type \([a-zA-Z0-9\\_]+\) of method [a-zA-Z0-9\\_]+::render\(\) should be compatible with return type \(string\) of method [a-zA-Z0-9\\_]+::render\(\)#'
            paths:
                - Classes/ViewHelpers/*

