Build/phpunit/coverage/
Build/phpunit/testdox/
.idea/
.vscode/
.phpunit.result.cache
Build/testing-docker/.env
composer.lock
phpunit-report.xml
functional-report.xml
.cache
.phpdoc
gl-code-quality-report.json
.phpactor.json
